body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #9dc183;
  color: #ffffff;
}

header {
  background: #4f7942;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white ;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?fit=crop&w=1950&q=80') center/cover;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.dino-gallery {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background: #9dc183;
}

.dino-card {
  background: #9dc183;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-size: 20px;
  transition: transform 0.2s;
}

.dino-card:hover {
  transform: scale(1.1);
}

.about {
  padding: 40px 20px;
  background: #9dc183;
}

footer {
  background: #4f7942;
  color: white;
  text-align: center;
  padding: 10px;
}
